<div class="main-container">
    <div class="container">

        <div class="left">

            <div class="box1">
                <p class="welcome">¡Bienvenido a la herramienta de registro Coink!</p>
            </div>

            <img src="../../../assets/icons/imagen1.jpg" alt="" class="img1">

            <div class="box2">
                <p>Coink para tu día a día. Empieza ahorrando y cumple tus sueños con propósito.</p>
            </div>
           
            <img src="../../../assets/icons/imagen2.jpg" alt="">
        </div>

        <div class="right">

            <div class="registrate">
                <p>Regístrate ahora</p>
                <p>¿Aún no tienes una cuenta?</p>
            </div>

            <div class="login">
                <div class="content-login">
                    <h2>Iniciar sesión en Coink</h2>
                    <label for="email">Correo Electrónico</label>
                    <input type="text" class="input1" id="email" placeholder="Input text" >
                    <label for="">Contraseña</label>
                    <input type="password" class="input2" id="contraseña" placeholder="Input text" >
                    <div class="check">
                        <input type="checkbox" name="recordarme" id="recordarme" class="checkbox">
                            <label for="">Recordarme</label>
                    </div>

                    <button>Iniciar sesion</button>
                    <p class="olvide">¿Olvide contraseña?</p>
                </div>
            </div>

            

        </div>
    </div>
</div>
